/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* header */
.header{
    margin-bottom:100px;
}
.carousel-item img{
    height: 600px;
}
.carousel-caption h1{
    font-size: 50px;
   
}
.carousel-caption p{
    font-size: 15px;  
}
.carousel-caption a{
    text-decoration: none; 
    margin-bottom: 20px;
}

/* special moment styles */
.special-moment{
    margin-bottom:100px;
}
.explore-btn{
    font-size: 15px;
}

/* our package styles */
.our-package{
    margin-bottom:100px;
}
.our-package h2{
    margin-bottom:100px;
}
.pricing-plan{
    border-radius: 30px;
    width: 280px;;
}
.pricing-plan p{
    color:gray;
}
.hot-button{
    position: relative;
    right: 75px;
    bottom: 29px;
    font-size: 14px;
}

/* Happy client styles */
.happy-client{
    margin-bottom: 100px;
}

.client-detail{
    width:340px;
}
/* Question styles */
.question{
    margin-bottom: 100px;
}

/* footer style */
footer{
    background-color: black;
    color:white;
    
}

.app-image img{
    width:150px;
    height:150px;
}
